@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

#landingPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#landingPageTitle {
  text-align: center;
  position: relative;
  top: 10%;
  font-size: 50px;
  font-family: 'Amanda+Pro', 'sans-serif';
}

#explanationLandingPageText {
  position: relative;
  width: 60%;
  left: 0;
  right: 0;
  margin: auto;
  top: 20%;
  font-family: 'Amanda+Pro', 'sans-serif';
  font-size: 30px;
}